# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# PyInstaller / Build folders
build/
dist/
*.spec

# Application specific
pccim.db
uploads/
exports/

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store